nav {
    background-color: rgb(165, 4, 4) !important;
}

nav a {
    color: white !important;
}

#logo {
    height: 30px;
    margin-right: 2px;
}

.navbar-brand {
    display: flex;
}

.bg-red {
    background-color: rgb(165, 4, 4) !important;
}

.hover-fg-red:hover {
    color: rgb(165, 4, 4) !important;
}
