nav {
    background-color: rgb(165, 4, 4) !important;
}

#logo {
    height: 30px;
    margin-right: 2px;
}

.navbar-brand {
    display: flex;
    color: white !important;
}

.nav-link {
    color: white !important;
}

.bg-red {
    background-color: rgb(165, 4, 4) !important;
}

.hover-fg-red:hover {
    color: rgb(165, 4, 4) !important;
}

.profile {
    width: 10rem;
}

input, button, select {
    box-shadow: none !important;
}


.restaurant-card {
    width: 18rem;
    border-color: black;
}