[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "~=4.0.3"
djangorestframework = "~=3.13.1"
pillow = "~=9.0.1"
djangorestframework-simplejwt = "*"
django-extensions = "*"
pyparsing = "*"
pydot = "*"
lorem = "*"

[dev-packages]
autoflake = "*"
black = "*"

[requires]
python_version = "3.10"
