#bannerCard {
    background-color: rgba(247, 245, 154, 0.623);
}

#banner {
    height: 250px;
}

.icon {
    height: 175px;
    width: 175px;
    margin: 10px;
    border-color: orange;
    border-width: thick;
}

#restaurantName {
    font-weight: bolder;
    margin: 0;
}

#edit {
    position: absolute;
    right: 0;
    margin-right: 40px;
}

.stack {
    margin-top: 20px;
}
.toggle {
    width: 100px;
}

